###Files to ignore###
*.root
*.png
*.jpg
*.sublime-workspace
*.sublime-project
*.C
*.cxx
*.pcm
*.o
*.a
*.so
*.swp
.DS_Store
Makefile
*.make
.vscode/
build/
lib/
bin/
scripts/


###Keep this file###
!.gitignore
