###Files to ignore###
*.root
*.png
*.jpg
*.sublime-workspace
*.sublime-project
*.C
*.cxx
*.pcm
*.o
*.a
*.swp
*.pickle
.DS_Store
Makefile
*.make
__pycache__
.vscode/
build/


###Keep this file###
!.gitignore
